POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# 端口映射
DOCKER_MAP_POSTGRES_PORT=5432
DOCKER_MAP_REDIS_PORT=6379
DOCKER_MAP_SERVER_PORT=8001
DOCKER_MAP_NGINX_PORT=8000
DOCKER_MAP_RABBITMQ_UI_PORT=15672
DOCKER_MAP_RABBITMQ_PORT=5672
DOCKER_MAP_CELERY_FLOWER_PORT=8555
DOCKER_MAP_CELERY_EXPORTER_PORT=9808

# 日志挂载（宿主机目录）
DOCKER_RAGF_SERVER_LOG=./logs/ragf
