# ThinkPad T14 @ Archlinux 📁 /home/zhongye/Desktop/RAGS/KnowledgeRAG-OGAS/backend refactor/ORCA ≢ [14:33:03]
 (backend) 3.12.8 $ uv add "fastapi[standard]"
Resolved 45 packages in 15.54s
error: Failed to prepare distributions
  Caused by: Failed to build `backend @ file:///home/zhongye/Desktop/RAGS/KnowledgeRAG-OGAS/backend`
  Caused by: Build backend failed to build editable through `build_editable` (exit status: 1)

[stderr]
Error: Expected a Python module at: src/backend/__init__.py