# Env（本地开发默认 dev，Docker 部署请使用 deploy/backend/docker-compose/.env.server）
ENVIRONMENT='dev'
# Database
DATABASE_TYPE='postgresql'
DATABASE_HOST='localhost'
DATABASE_PORT=5432
DATABASE_USER='postgres'
DATABASE_PASSWORD='123456'
# 额外数据源
DATABASE_SOURCES='{}'
# Redis
REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_PASSWORD=''
REDIS_DATABASE=0
# Token（请务必更换为 secrets.token_urlsafe(32) 生成的值）
TOKEN_SECRET_KEY='mPJp8cWk3lEDkUCulz8SwOoI8PWx9Ed_Nst9PomKtLY'
# [ App ] task
# Celery
CELERY_BROKER_REDIS_DATABASE=1
# Rabbitmq
CELERY_RABBITMQ_HOST='localhost'
CELERY_RABBITMQ_PORT=5672
CELERY_RABBITMQ_USERNAME='guest'
CELERY_RABBITMQ_PASSWORD='guest'
# [ Plugin ] code_generator
CODE_GENERATOR_DOWNLOAD_ZIP_FILENAME='code_generator.zip'
# [ Plugin ] oauth2
OAUTH2_GITHUB_CLIENT_ID=''
OAUTH2_GITHUB_CLIENT_SECRET=''
OAUTH2_GOOGLE_CLIENT_ID=''
OAUTH2_GOOGLE_CLIENT_SECRET=''
# [ Plugin ] email
EMAIL_USERNAME=''
EMAIL_PASSWORD=''
OAUTH2_STATE_REDIS_PREFIX='fba:oauth2:state:'
OAUTH2_STATE_EXPIRE_SECONDS=600
OAUTH2_GITHUB_REDIRECT_URI='http://localhost:8000/api/v1/oauth2/github/callback'
OAUTH2_GOOGLE_REDIRECT_URI='http://localhost:8000/api/v1/oauth2/google/callback'
OAUTH2_FRONTEND_LOGIN_REDIRECT_URI='http://localhost:5173/login'
OAUTH2_FRONTEND_BINDING_REDIRECT_URI='http://localhost:5173/binding'
EMAIL_HOST='localhost'
EMAIL_PORT=25
EMAIL_SSL=False
EMAIL_CAPTCHA_REDIS_PREFIX='fba:email:captcha:'
EMAIL_CAPTCHA_EXPIRE_SECONDS=300
